/* CSS declarations go here */
.bigger {
    height: 55px;
}

.loading-spinner {
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
    padding-left: 10%;
}

.bins-share {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}

.bins-share .input-group {
    width: 30%
}
